{% extends 'location/base.html'%}
{% block content %}
<div class="container-fluid ">
  <div class="row text-center">
    <h1>Do you want to get your car fixed?</h1>
    <h2>Need a repair? Just contact us.
      <b>click here!</b></h2>
        <button class="btn btn-success btn-lg btn-radius " ><a href="{% url 'customer_view' %}">Then click here</a></button>

    </div>
    <div class="row text-center">
    <h1>Are you a mechanic looking to register here?</h1>
    <h2>Need new customers? Just join us.
      <b>click here!</b></h2>
        <button class="btn btn-success btn-lg btn-radius " ><a href="{% url 'mechanic_view' %}">Then click here</a></button>

    </div>
{% endblock %}
